<div class="container" id="series-container">
  <table class="table" id="series">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Canal</th>
              <th scope="col">Temporadas</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{serie.nombre}}</td>
          <td>{{serie.canal}}</td>
          <td>{{serie.temporadas}}</td>
        </tr>
  </table>
  
</div>
